.upperStuff 
{
    display: flex;
    padding: 10px;
    text-align: center; 
}

.containerLeft
{
    height: 400px;
    position: relative;
    border: 3px solid green; 
    width: 160px;
    margin: 10px;
    text-align: left;
}

.containerMidLeft
{
    height: 400px;
    position: static;
    border: 3px solid red;
    width: 160px;
    margin: 10px;
}

.containerMidRight
{
    height: 400px;
    position: static;
    border: 3px solid rgb(0, 4, 255);
    width: 160px;
    margin: 10px;
}

.containerRight
{
    height: 400px;
    position: static;
    border: 3px solid rgb(229, 255, 0);
    width: 160px;
    margin: 10px;
}

img
{
    width:50px;
    height: 50px;
    top: 50%;
    left: 30%;
    position: relative;
}

img.noHold
{
}

img.hold
{
    filter: invert(0.10);
}

img.locked
{
    border: 1px solid turquoise;
    filter:invert(1);
}